<header class="header">
  <div class="container">
    <h1>Blogging Website</h1>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/addpostinblog" routerLinkActive="active">Add Post</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li *ngIf="userName">
          <a routerLink="/myblog" routerLinkActive="active">My Blogs</a>
        </li>
        <li *ngIf="userName">
          <span>Welcome, {{ userName }}</span>
          <button (click)="onLogout()" class="btn btn-secondary">Logout</button>
        </li>
        <li *ngIf="!userName">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
